.grid-container {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    color: black;
    border: solid 0.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows:35rem 7rem auto 15rem ;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}