.logotipo-recomendaciones {
    width: 100%;
    height: 25rem;
    transform: translateY(2.5rem);
    background-image: linear-gradient(aqua 70%, rgb(31, 183, 31));
}

.cabecera-recomendaciones {
background-image: linear-gradient(rgb(31, 183, 31) 60%, aqua);
grid-area: header;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cabecera-recomendaciones h1 {
    padding: 3rem;
    font-size: 6rem;
    margin-bottom: 8rem;
    transform: translateY(3rem);
}

.principal-recomendaciones {
    grid-area: main;
    background-image: linear-gradient( rgb(31, 183, 31), aqua);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.principal-recomendaciones h2 {
    background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
    font-size: 3rem;
    border: solid 0.4rem;
    border-radius: 10rem;
    padding: 2.5rem;
    font-weight: bold;
    margin-left: 3rem;
}

.principal-recomendaciones p {
    background-image: linear-gradient(rgba(56, 7, 252, 0.482), rgb(230, 5, 218));
    font-size: 2rem;
    border: solid 0.4rem;
    border-radius: 5rem;
    padding: 2rem;
    font-weight: bold;
    margin-left: 3rem;
}


.publicidad-recomendaciones {
background-image: linear-gradient( rgb(31, 183, 31), aqua);
grid-area: aside;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: auto;
}

.publicidad-recomendaciones h2 {
    font-size: 3rem;
    margin-top: 12rem; 
    border: solid 0.4rem black;
    border-radius: 1rem;
    padding: 2rem;
    color: aliceblue;
    background-image: linear-gradient(rgb(250, 101, 238), rgb(59, 2, 59));
    width: auto;
}

.publicidad-recomendaciones div {
    border: solid 0.4rem;
    border-radius: 3rem;
    padding: 2rem;
    margin: 5rem 5rem;
    background-color: crimson;
}

.publicidad-recomendaciones div p {
    margin: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 3rem;
}

.publicidad-recomendaciones div iframe {
    border: solid 0.4rem;
    border-radius: 3rem;
}

.pie-recomendaciones {
    background-image: linear-gradient(aqua, rgb(31, 183, 31));
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    }


    .pie-recomendaciones div {
        display: flex;
        
    }
    
    .pie-recomendaciones div p {
        background-image: linear-gradient(deeppink, black); 
        font-size: 2.5rem;
        border: solid 0.4rem;
        border-radius: 1rem;
        padding: 3rem;
        
    }
    
    .pie-recomendaciones a {
        text-decoration: none;
        color: white;
        display: flex;
    }